<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://drive.google.com/file/d/1S-XTZ6jFCrOsMWlQAmJY56Ml1YciSUnS/view?usp=drivesdk"<CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:stebridgwater35@gmail.com">email</a></li>
	        		<li><a href="https://github.com/wizzdm">github.com/wizzdm</a></li>
				</ul>
			</footer>
		</body>
	</html>
